.nav-custom-css{
    font-weight: 700;
}
.carousel-image-cutom-css{
    opacity: 0.8;
}
.carousel-btn-custom-css{
    background-color: #fff;
    color: rgb(64, 64, 204);
    font-weight: 700;
}
.carousel-btn-custom-css:hover{
    background-color: rgb(64, 64, 204);
    color: #fff;
    font-weight: 700;
}
.first-section-btn-custom-css{
    background-color: rgb(64, 64, 204);
    color: #fff;
    font-weight: 700;
    border-radius: 0;
}
.first-section-btn-custom-css:hover{
    background-color: #fff;
    color: rgb(64, 64, 204);
    border: 1px solid rgb(64, 64, 204);
}

.price-custom-css{
    border: 1px solid transparent;
    
}
.price-btn-custom-css{
    background-color: rgb(233, 221, 236);
}
.price-btn-custom-css:hover{
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(233, 221, 236);
}
.text-color{
    color: rgb(98, 102, 106);
}

.price-custom-css{
    border: 1px solid transparent;

}


.price-active{
    transform: scaleY(1.1);
    color: #fff;
    background-color: rgb(64, 64, 204);
    background-image: url(icons/watermark.svg);
    border-radius: 30px;
}
.price-active-para{
    color: #fff;
}


@media only screen and (max-width: 944px){
    .price-active{
        transform: scale(1);
        
    }
}
